*{
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	color: #555;
}
h1,h2,h3,h4,h5,h6,li,p{
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	color: #555;
}
.navbar{
	cursor: pointer;
	color: #555;
}
a{
	color: #555;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.margin{
	margin: 30px 0;
}
.divider{
	margin: 75px;
}
.gallery .col-xl-3{
	margin: 30px 0;
}
.center-block{
	margin: 0 auto;
}

input{
	width: 100%;
	border: none;
	border-bottom: solid 1px #555;
	padding: 15px 10px;
}
input[type=text]:focus {
    border: 1px solid #555;
    outline: none;
    transition: all 1s ease;
}
textarea{
	width: 100%;
	border: none;
	border-bottom: solid 1px #555;
	padding: 15px 10px;
}
textarea[type=text]:focus {
    border: 1px solid #555;
    outline: none;
    transition: all 1s ease;
}
#submit{
	border: 1px solid #555;
	padding: 10px 20px;
}
#submit:hover{
	color: white;
	background-color: #555;
	cursor: pointer;
}